<div id="hero">
    <div class="container">
        <div class="hero hero-profile">
            <div class="hero-avatar float-right relative">
                <div class="avatar">
                    <img src="https://avatars1.githubusercontent.com/u/74988?v=3&s=460"
                         class="avatar-image"
                         alt="Walter Vargas"
                    />
                </div>
            </div>
            <div>
              <a class="site-title" href="{{ "/" | relative_url }}">
                  <h1 class="hero-title">{{ site.author.name | escape }}</h1>
              </a>
            </div>
            <div id="contact-list">
                {% if site.author.linkedin %}
                <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}/">
                    <i class="fa fa-linkedin"></i>
                </a>
                {% endif %}
                {% if site.author.github %}
                <a href="https://github.com/{{ site.author.github }}">
                    <i class="fa fa-github"></i>
                </a>
                {% endif %}

                {% if site.author.twitter %}
                <a href="https://twitter.com/{{ site.author.twitter }}">
                    <i class="fa fa-twitter"></i>
                </a>
                {% endif %}
            </div>

        </div>
    </div>
</div>
