/**
 * Code formatting
 */
pre,
code {
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: $code-background-color;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlighter-rouge .highlight {
    background: $code-background-color;
}
