---
layout: default
---

<div class="home">
  {{ content }}

    {% for post in site.posts %}
          <div class="post-card">
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h2>
                  <a class="post-link post-link-short" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h2>
              <div class="post-excerpt">
                  {{ post.excerpt }}
              </div>
              <a class="read-more" href="{{ post.url | relative_url }}">Read more...</a>
          </div>
    {% endfor %}


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
