---
layout: default
---

<div class="home">
  <h1 class="page-heading">Gists</h1>
  <ul class="post-list">
    {% for gi in site.data.gists %}
      <li>
        <span class="post-meta">{{ gi.description }}</span>
        {% gist gi.gist %}
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Commands</h1>
  <ul class="post-list">
    {% for command in site.data.commands %}
      <li>
        <span class="post-meta">{{ command.description }}</span>
        {% highlight sh %}{{ command.command }}{% endhighlight %}
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Posts</h1>
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
